.links
{
	font-size: 20px;
}

.navbar-brand
{
	font-size: 2rem !important;
	margin-left: 3% !important;
	color: aliceblue !important;
}
.navbarColor
{
	background-color: #1e315c !important;
	/* background-color: rgb(255,101,132)!important; */
}
